<div class="container">
    <h3 class="p-3 text-center">liste de commandes</h3>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>#ID</th>
          <th>In progress</th>
          <th>Ready</th> 
          <th>Delivered</th>                 
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let commande of commandesList$">
          <th>{{ commande.commandeId }} </th>
          <td>{{ commande.inProgress}}<br><button class="btn btn-primary " type="button" (click)="onGetCommandeProductDtosByCommande(commande)">Voir la commande</button></td>
          <td>{{ commande.isReady }}<br><button class="btn btn-primary " type="button">Changer Etat</button></td> 
          <td>{{ commande.isDelivered }}<br><button class="btn btn-primary " type="button">Changer Etat</button></td>
                   
          <td>
            
            <button class="btn btn-danger "type="button">Annuler</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>