<div class="container">
    <h3 class="p-3 text-center">liste de produits</h3>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>#ID</th>
          <th>nom du produit</th>
          <th>description</th> 
          <th>image</th>                 
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <th>{{ product.productId }} </th>
          <td>{{ product.productName}}</td>
          <td>{{ product.description }}</td>         
          <img mat-card-image class="imgs"  src="data:image/jpeg;base64,{{product.data}}">     
          <td>            
            <button class="btn btn-primary " type="button">Edit</button>
            <button class="btn btn-info " type="button">Detail</button>
            <button class="btn btn-danger " type="button">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>