

<div class="card text-center" *ngIf="commandePoducts.length>0">
    <div class="card-header">
      commande : <p>{{commande.commandeId}}</p>
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">Image </th>
          <th scope="col">Produit</th>
          <th scope="col">Prix Unitaire</th>
          <th scope="col">Quantité </th>
          <th scope="col">Modifier quantité</th>
          <th scope="col">Supprimer</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of commandePoducts; let i=index;">
          <td scope="row"><img src="data:image/jpeg;base64,{{p.product.data}}" alt="..." class="img-thumbnail"></td>
          <td scope="row">{{p.product.productName }}</td>
          <td scope="row">{{p.product.price }}</td>
          <td>{{p.quantite}}</td>
          <td>
            <form [formGroup]="panierForm" >
              <div class="form-group">
                <input type="number" id="tentacles" name="tentacles" min="0" max="100"  formControlName="quantite" value="{{p.quantite}}"> &nbsp;
                <button type="submit" class="btn btn-primary"  (click)="onModifierCommandeProduct(i)"> Modifer
                  <i class="fa fa-pencil fa-1x" aria-hidden="true"></i>
                </button>
              </div>
            </form>
          </td>
          <td>
            <button type="button" class="btn btn-danger" (click)="onDeleteCommandeProduct(i)"> supprimer
              <i class="fa fa-trash-o fa-1x" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>    
    <div class="card-footer text-muted">
      <h4 style="color: black; font-size: 15px;">Totale apres tax:{{totalPrice}} € </h4>
      <button type="button" class="btn btn-warning" (click)="onConfirmerCommade()">
        <i class="fa fa-cart-arrow-down fa-2x" aria-hidden="true"></i> &nbsp; Confirmer Commande
      </button>
    </div>
  </div>
  <br/>
  