
     <mat-list-item *ngFor="let category of categories ,let i=index" >
       
        <mat-card appMaterialElevation (click)="getCategory(i)"  [ngClass]="{'selected-card': flag===category.categoryId}" >
            <mat-card-header>
                <mat-card-title> {{ category.categoryName }}</mat-card-title>
            </mat-card-header>
            <img mat-card-image class="imgs"  src="data:image/jpeg;base64,{{category.data}}">
         
            <mat-card-content>
                <p>
                    {{ category.categoryName }}  
                </p>
            </mat-card-content>
        </mat-card><br>
        
     </mat-list-item> 
